<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap-icons-1.9.1/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <title>Document</title>
</head>
<body class="min-vh-100">
<main class="d-flex flex-nowrap min-vh-100">
  {{!-- <h1 class="visually-hidden">Sidebars examples</h1> --}}

  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      {{!-- <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> --}}
      <i class="bi bi-kanban-fill me-2" style="font-size: 32px"></i>
      <span class="fs-4">QL Học sinh</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="/students/list" class="nav-link {{#ifEquals page "student"}}active{{else}}text-white{{/ifEquals}}">
          <i class="bi bi-person-fill me-2"></i>
          Học sinh
        </a>
      </li>
      <li class="nav-item">
        <a href="/classrooms/list" class="nav-link {{#ifEquals page "classroom"}}active{{else}}text-white{{/ifEquals}}" aria-current="page">
          <i class="bi bi-people-fill me-2"></i>
          Lớp học
        </a>
      </li>
     
      <li>
        <a href="/subjects/list" class="nav-link {{#ifEquals page "subject"}}active{{else}}text-white{{/ifEquals}}">
          <i class="bi bi-book-fill me-2"></i>
          Môn học
        </a>
      </li>
      <li>
        <a href="/scores" class="nav-link {{#ifEquals page "score"}}active{{else}}text-white{{/ifEquals}}">
          <i class="bi bi-pen-fill me-2"></i>
          Bảng điểm
        </a>
      </li>
       <li>
        <a href="/reports/subject" class="nav-link {{#ifEquals page "report-subject"}}active{{else}}text-white{{/ifEquals}}">
          <i class="bi bi-file-ruled-fill me-2"></i>
          Báo cáo môn
        </a>
      </li>
      <li>
        <a href="/reports/semester" class="nav-link {{#ifEquals page "report-semester"}}active{{else}}text-white{{/ifEquals}}">
          <i class="bi bi bi-file-medical-fill me-2"></i>
          Báo cáo học kỳ
        </a>
      </li>
      <li>
        <a href="/settings" class="nav-link {{#ifEquals page "setting"}}active{{else}}text-white{{/ifEquals}}">
          <i class="bi bi-gear-fill me-2"></i>
          Cài đặt
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="rounded-circle border d-flex justify-content-center align-items-center me-2"
            style="width:32px;height:32px"
          alt="Avatar">
        <i class="bi bi-emoji-smile-fill text-info"></i>
        </div>
        <strong>{{user.fullname}}</strong>
        
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        {{!-- <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li> --}}
        {{!-- <li><hr class="dropdown-divider"></li> --}}
        <li><a class="dropdown-item" href="/users/logout">Đăng xuất</a></li>
      </ul>
    </div>
  </div>
  
  <div class="d-flex flex-shrink-0 flex-grow-1 justify-content-center">
    <div class="container-md py-4" style="max-width: 860px">
    {{{body}}}
    </div>
  </div>

</main>
  {{!-- <script src="/js/bootstrap.min.js"></script> --}}
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/axios.min.js"></script>
<script src="/main.js"></script>

</body>
</html>